body {
  background-color: #EAF6F6;
}

hr {
  border-top-style: dotted;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: grey;
  border-width: 6px;
  width: 4%;
}

h1 {
  text-align: center;
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
